<nav>
    <ul id="fixMenu">
        <div class="logo">
            <a href="">
            <img src="/images/icons/logo.png" alt="logo" width="40px">
            <p>Destino <span>360</span></p>
        </a>
        </div>
            <span id="menuBlock">
            <div class="menuBlock">
                <a href="#">
                    <li class="menuImg">    
                        <i class="fa-solid fa-headset" style="color: #ffffff;" width="50px"></i>
                        <p>Fale com nossa equipe!</p>
                    </li>
                </a>
            </div>
        <div class="menuOptions">
            <div>
                <a href="/login">
                    <li class="menuImg">
                        <i class="fa-solid fa-user-gear" style="color: #363d4a;"></i>
                        <p>Login</p>
                    </li>
                </a>
            </div>
            <div>
                <a href="/mytravels">
                    <li class="menuImg">
                        <i class="fa-solid fa-suitcase-rolling" style="color: #363d4a;"></i></i>
                        <p>Minhas viagens</p>
                    </li>
                </a>
            </div>
            <div>
                <a href="#">
                    <li class="menuImg">
                        <i class="fa-solid fa-circle-question" style="color: #363d4a;"></i></i>
                        <p>Ajuda</p>
                    </li>
                </a>
            </div>
        </div>
    </span>
    </ul>
</nav>