<nav>
    <ul id="fixMenu">
        <div class="logo">
            <a href="/">
            <img src="/images/icons/logo.png" alt="logo" width="40px">
            <p>Destino <span>360</span></p>
        </a>
        </div>
    </ul>
</nav>