<header>
    <nav>
        <ul id="fixMenu">
            <div class="logo">
                <img src="/images/icons/logo.png" alt="logo" width="40px">
                <a href="/">
                    <li>Destinos360</li>
                </a>
            </div>
            <div class="menuOptions">
                <a href="#">
                    <li>
                            <i class="fa-solid fa-headset" style="color: #ffffff;"></i>
                            <p>Fale com nossa equipe!</p>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <i class="fa-solid fa-user-gear" style="color: #363d4a;"></i>
                        <p>Login</p>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <i class="fa-solid fa-suitcase-rolling" style="color: #363d4a;"></i></i>
                        <p>Minhas viagens</p>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <i class="fa-solid fa-circle-question" style="color: #363d4a;"></i></i>
                        <p>Ajuda</p>
                    </li>
                </a>
            </div>
        </ul>
    </nav>
</header>